.language-dropdown {
  display: flex;
  flex-direction: column;
  margin-left: 2.5rem;
  padding-top: 0.3rem;
  gap: 0.4rem;
}

.language-dropdown div {
  cursor: pointer;
  font-size: 0.9rem;
  padding: 2px 6px;
  border-radius: 4px;
  transition: background 0.2s;
}

.language-dropdown div:hover {
  background-color: #f0f0f0;
}
