.registrationOverlay {
  position: fixed;
  top: 0;
  left: 0;
  width: 100%;
  /* height: 100%; */
  background: rgba(0, 0, 0, 0.6);
  display: flex;
  justify-content: center;
  align-items: center;
  z-index: 1200;
}

.registrationBox {
  width: 95%;
  max-width: 600px;
  background: #fff;
  border-radius: 8px;
  overflow-y: auto;
  max-height: 90vh;
  box-shadow: 0 0 15px rgba(0, 0, 0, 0.3);
  display: flex;
  flex-direction: column;
}

.registrationHeader {
  display: flex;
  justify-content: space-between;
  align-items: center;
  padding: 12px 16px;
  background: #111;
  color: #fff;
  border-radius: 8px 8px 0 0;
}

.registrationHeader h3 {
  margin: 0;
}

.closeBtn {
  background: none;
  border: none;
  font-size: 20px;
  color: #fff;
  cursor: pointer;
}
