 

/* App.css */
.AppContainer {
  display: flex;
  flex-direction: column;
  min-height: 100vh;
  width: 100%;
  /* padding: 1rem; */
  background-color: rgb(64, 173, 14);
  gap: 1rem;
  transition: padding 0.3s ease;
  height: calc(var(--vh, 1vh) * 100);
  overflow: hidden;
}

/* Tablet (768px and up) */
@media (min-width: 768px) {
  .AppContainer {
    padding: 2rem;
    flex-direction: row;
    flex-wrap: wrap;
    justify-content: space-between;
  }
}

/* Desktop (1024px and up) */
@media (min-width: 1024px) {
  .AppContainer {
    padding: 3rem;
    gap: 2rem;
  }
}
