* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

html,
body,
#root {
  user-select: none;
  height: 100%;
  width: 100%;
  font-family: "Segoe UI", sans-serif;
  background-color: #f5f5f5;
}

html,
body {
  margin: 0;
  padding: 0;
  height: 100%;
  overflow-x: hidden; /* no sideways scroll */
  background: #f9f9f9; /* match your app bg so no white gaps */
}
